body {
    background-color: #e3e3e3;
    font-size: 21px;
    color: aliceblue !important;
}

.navbar .logo-background {
    height: 160px;
    position: relative;
    top: 10px;
    background-color: #ffef98;
}

.navbar-brand img{
    margin-top: 0px;
    margin-left: 20px;
    height: 160px;
}

.navbar-default {
    height: 30px;
    background-color: #949594;
}
    
.navbar-nav {
    float: right;
    height: 30px;
    margin-bottom: 5px;
}

.nav>li>a {
    padding: 15px 25px;
}

.navbar-form {
    margin-top: 40px;
    margin-left: 230px;
}

.form-control {
    height: 37px;
}

#page-wrapper {
    height: 1000px;
    padding-top: 10px;
}

button {
    background-color: #949594;
    color: #fafafa;
    height: 45px;
    width: 280px;
    position: relative;
    top: 110px;
    left: 520px;
}

#page-wrapper #map-background
{
    position: relative;
    top: 90px;
    width: 800px;
    height: 550px;
    background-color: #949594;
    border-radius: 3px;
}

#page-wrapper #map-background h1{
    padding-left: 20px;
    padding-top: 10px;
    color: #fafafa;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#page-wrapper #map-background h2{
    float: right;
    
}

#page-wrapper #map-background #map-area {
    width: 1140x;
    height: 480px;
    background-color: #e3e3e3;
    margin-left: 20px;
    margin-right: 20px;
}
    